.partners {
  animation: move-rtl 40000ms linear infinite;
}

@keyframes move-rtl {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(calc(-100% - 5rem));
  }
}

.banner {
  background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)),
    url(https://i.ibb.co.com/4Jv4s91/about-banner.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
