/* Container for products */
.productsContainer {
  @apply grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 justify-items-center gap-5 md:gap-10;
}

/* Product */
.product {
  @apply flex flex-col justify-between w-full mb-5 relative overflow-hidden rounded-lg box-border shadow-md transition-transform duration-500 ease-in-out bg-neutral-200;
  animation: fadeInUp 1s ease;
}

/* Container for product images */
.productImgContainer {
  @apply w-full aspect-square relative overflow-hidden rounded-t-md;
}

/* Product image */
.productImgContainer img {
  @apply w-full h-full rounded-t-md object-contain object-center transition-transform duration-500 ease-in-out;
}

/* Hover effect for product image */
.product:hover .productImgContainer img {
  @apply scale-110;
}

/* products page banner  */
.banner {
  background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)),
    url(https://i.ibb.co.com/nwCV7bb/product-banner.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
